.nav {
    padding: 15px 0;
    background: $colorAccent;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__item:hover .nav__link {
        color: $background;
    }
    &__link {
        color: $text;
        font-weight: 700;
        padding: 15px 5px;
        font-size: 1.8rem;
        transition: color 250ms;    
    }
}