.userJournal {
    width: 100%;
    padding: 30px 0;
    &--empty {
        display: none;
    }
    &__h2{
        @include heading(30);
        margin-bottom: 30px;
    }
    &__h3 {
        @include heading(24);
        text-align: left;
        margin: 30px 0 15px 0;
    }
    &__text {
        margin: 15px 0;
    }
}